.delete {
  width: 30x;
  height: auto;
  color: #fff;
  background-color: red;
  font-size: 15px;
  font-weight: 400;
  transition: 1s linear;
  border-top: 5px;
}
.delete:hover{
  background-color: #fff;
  color: red;
}
.value {
  font-size: 15px;
  font-weight: 400;
  color: navy;
}
.edit {
  font-size: 15px;
  font-weight: 400;
  color: grey;
  width: 120px;
  height: auto;
}
