/* Kanban styles */
.kanban {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.AddLane {
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
}
