.delete {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: red;
  font-size: 15px;
  font-weight: 600;
  transition: 1s linear;
  border-radius: 5px;
  padding: 5px;
  float: right;
  margin: 2.5px;
}

.delete:hover{
  background-color: #fff;
  color: red;
}
.value {
  font-size: 20px;
  font-weight: 600;
  color: navy;
  padding: 10px;
}
.edit {
  font-size: 15px;
  font-weight: 400;
  color: green;
  width: auto;
  height: auto;
  padding: 10px;
}
